@model IEnumerable<BusBooking.Models.Ticket>

@{
    ViewData["Title"] = "Index";
}

<h1>All Tickets</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Travel_Date.Date)
            </th>
            <th>
                Bus
            </th>
            <th>
                Seat No
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Travel_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bus_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Seat_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <!---<td>
                <a asp-action="Edit" asp-route-id="@item.Ticket_Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Ticket_Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Ticket_Id">Delete</a>
            </td>-->
        </tr>
}
    </tbody>
</table>
