@model IEnumerable<BusBooking.Models.Ticket>

@{
    ViewData["Title"] = "AllTicket";
}
@{
    Layout = "_LayoutHome";
}
<h1>AllTicket</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Travel_Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Seat_Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Travel_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Seat_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            @if (item.Travel_Date.CompareTo(DateTime.Now) > 0)
            {
                <!--<td>
            <a asp-action="DeleteTicket" asp-route-id="@item.Ticket_Id">Delete</a>
        </td>-->
            }
        </tr>
        }
    </tbody>
</table>
