@model BusBooking.ViewModel.TicketListViewModel

@{
    ViewData["Title"] = "AllTicket";
}
@{
    Layout = "_LayoutHome";
}
<h1>Tickets</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Date of journey
            </th>
            <th>
                Bus Name
            </th>
            <th>
                Bus Type
            </th>
            <th>
                From
            </th>
            <th>
                To
            </th>
            <th>
                Seats
            </th>
            <th>
               Amount
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.tickets.Select((value,i)=>new { i,value}))
        {
        <tr>
            <td>
                @{
                    DateTime date = item.value.Travel_Date;
                }
                @date.ToString("d")
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.buses[item.i].Bus_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.buses[item.i].Bus_Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.buses[item.i].Souce_City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.buses[item.i].Destination_City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.value.Seat_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.value.Amount)
            </td>
        </tr>
        }
    </tbody>
</table>
