@model BusBooking.ViewModel.BusFoundViewModel

@{
    ViewData["Title"] = "BusFound";
    //var buses = Model.busFound as IEnumerable<BusBooking.Models.Bus>;
}
@{
    Layout = "_LayoutHome";
}
<p>
    <a asp-action="SearchBus">Back</a>
</p>
<p>
    Date: @Model.dateToTravel.ToString();
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Bus Name
            </th>
            <th>
                Bus No
            </th>
            <th>
                Source City
            </th>
            <th>
                Destination City
            </th>          
            <th>
                Departure Time
            </th>
            <th>
                Arrival Time
            </th>
            <th>
                Price
            </th>
            <th>
                Type
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.busFound)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Bus_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Bus_No)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Souce_City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Destination_City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Source_Time.TimeOfDay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Destination_Time.TimeOfDay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Bus_Type)
                </td>
                <td>
                    <a asp-action="BusSelected" asp-route-id=@item.Bus_Id asp-route-date=@Model.dateToTravel>Book Now</a>
                </td>
            </tr>
        }
        </tbody>
</table>
