@model BusBooking.ViewModel.SeatViewModel;
@{
    ViewData["Title"] = "BusSelected";
}
@{
    Layout = "_LayoutHome";
}
@section Styles{
    <link href="~/css/BusSelected.css" type="text/css" rel="stylesheet">
}
<p>
    <a asp-action="SearchBus">Back</a>
</p>
@{
    <ul class="showcase">
        <li>
            <div class="seat"></div>
            <small>N/A</small>
        </li>
        <li>
            <div class="seat selected"></div>
            <small>Selected</small>
        </li>
        <li>
            <div class="seat occupied"></div>
            <small>Occupied</small>
        </li>
    </ul>
    <form asp-action="BusSelected" method="post">
        <input id="bus_id" type="hidden" name="bus_id" value="@Model.bus.Bus_Id" />
        <input id="date" type="hidden" name="date" value="@Model.dateToTravel" />
        <div class="containerSeat">
            <div class="row" id="seats">
                @for (var i = 1; i <= Model.bus.Number_Of_Seats; i++)
                {
                    if (Model.seats.Contains(i))
                    {
                        <div class="seat occupied" style="text-align: center;"  id="@i">
                            <input id="@i" type="checkbox" disabled checked value="@i"  name="checkbox"><p>@i</p>
                        </div>
                    }
                    else
                    {
                        <div class="seat" style="text-align: center;" id="@i">
                        <input id="@i" type="checkbox" value="@i" name="checkbox" onclick="checkedFun(@i)"><p style="color:white">@i</p>
                        </div>
                    }
                }
            </div>
        </div>
        <button id="seatConfirm" type="submit" class="btn btn-block btn-primary">Confirm</button>
    </form>
}
@section Scripts{ 
    <script>
        function checkedFun(id) {
            console.log(id);
            var checkBox = document.getElementById(id);
            console.log(checkBox.nodeValue);
            checkBox.classList.toggle('selected');
        }
    </script>
}