@model BusBooking.ViewModel.BusSearchViewModel

@{
    ViewData["Title"] = "SearchBus";
}
@{
    Layout = "_LayoutHome";
}

<h1>SearchBus</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="SearchBus">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @Html.LabelFor(x => Model.SelectedSourceCity, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md">
                    @Html.DropDownListFor(x => x.SelectedSourceCity, new SelectList(Model.SourceCity, "Value", "Text"), htmlAttributes: new { @class = "form-control", id = "SourceCity" })
                    @Html.ValidationMessageFor(x => x.SelectedSourceCity,"" , new { @class = "text-danger" })
                </div>

                <!-- <span asp-validation-for="SelectedSourceCity" class="text-danger"></span>-->
            </div>
            <div class="form-group">
                @Html.LabelFor(x => Model.SelectedDestinationCity, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md">
                    @Html.DropDownListFor(x => Model.SelectedDestinationCity, new SelectList(Model.DestinationCity, "Value", "Text"), htmlAttributes: new { @class = "form-control", id = "DestinationCity" })
                    @Html.ValidationMessageFor(x => x.SelectedDestinationCity,"", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md">
                    <label asp-for="DateToTravel" class="control-label"></label>
                    <input type="date" id="myDatePicker" asp-for="DateToTravel" class="form-control" />
                    <span asp-validation-for="DateToTravel" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                @Html.ValidationSummary()
                <input type="submit" value="Search" class="btn btn-primary"  asp-route-Scity=@Model.SelectedSourceCity  asp-route-Dcity=@Model.SelectedDestinationCity />
            </div>
        </form>
    </div>
</div>
@section Scripts {
    <script type="text/javascript">
        var current = new Date();
        console.log(current);
        var minDay = current.getDate()+1;
        var minMonth = ("0" + (current.getMonth() + 1)).slice(-2);
        var minYear = current.getFullYear();
        var minDate = minYear + '-' + minMonth + '-' + minDay;
        current.setDate(current.getDate() + 7);
        var maxDay = current.getDate();
        var maxMonth = ("0" + (current.getMonth() + 1)).slice(-2);
        var maxYear = current.getFullYear();
        var maxDate = maxYear + '-' + maxMonth + '-' + maxDay;
        var datePicker = document.getElementById("myDatePicker");
        datePicker.setAttribute('value', minDate);
        datePicker.setAttribute('min', minDate);
        datePicker.setAttribute('max', maxDate);
    </script>
}