@model BusBooking.ViewModel.TicketConfirmViewModel

@{
    // ViewData["Title"] = "ViewTicket";
}
@{
    Layout = "_LayoutHome";
}
<style>
    .inline1 {
        display: inline-block;
    }
</style>
<h2>E-Ticket Booking Details</h2>
<br />
<div class="inline1">
    <h4>Travel Information</h4>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.bus.Bus_Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.bus.Bus_Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ticket.Travel_Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ticket.Travel_Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ticket.Seat_Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ticket.Seat_Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ticket.Amount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ticket.Amount)
        </dd>
        <a class="btn btn-primary" asp-action="Index">Done</a>
    </dl>
</div>
