@model BusBooking.Models.Bus

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Souce_City)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Souce_City)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Destination_City)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Destination_City)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Number_Of_Seats)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Number_Of_Seats)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Source_Time)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Source_Time)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Destination_Time)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Destination_Time)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Available)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Available)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bus_Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bus_Type)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Bus_Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
